<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">
            <img src="/assets/logo.png">

            <span>Pedro</span>

            <ion-button (click)="toggleBlocks()" color="light" fill="clear" size="small">
                <ion-icon slot="icon-only" [name]="initialStep > 0 ? 'arrow-up-outline' : 'arrow-down-outline'">
                </ion-icon>
            </ion-button>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="primary" class="ion-padding" [scrollY]="!swiping">
    <div #background class="background opacity-transition">
        <div class="bank-information ion-text-center">
            <img src="/assets/qrcode.png" alt="qrcode" class="qrcode">

            <span>Banco <strong>Nu Pagamentos S.A.</strong></span>
            <span>Agência <strong>0001</strong></span>
            <span>Conta <strong>12345678-9</strong></span>
        </div>
        <ion-list lines="full">
            <ion-item *ngFor="let item of items" detail>
                <ion-icon slot="start" [name]="item.icon"></ion-icon>
                <ion-label>{{ item.text }}</ion-label>
            </ion-item>
        </ion-list>
        <ion-button class="logout" color="light" expand="block" fill="outline">
            <strong>SAIR DA CONTA</strong>
        </ion-button>
    </div>

    <div #blocks class="blocks" [ngClass]="fixedBlocks() ? 'fixed' : null">
        <ion-card>
            <ion-item #swipeDown class="ion-margin-vertical" lines="none">
                <ion-icon slot="start" name="card-outline"></ion-icon>
                <ion-label>Cartão de Crédito</ion-label>
            </ion-item>

            <ion-card-content class="ion-no-padding">
                <div class="cash ion-padding ion-margin-vertical">
                    <span class="blue">Fatura Atual</span>
                    <span class="blue value">R$ 43,90</span>
                    <span>Limite disponível <span class="green">R$ 673,22</span></span>
                </div>

                <div class="footer ion-padding-vertical">
                    <ion-item color="light" detail lines="none">
                        <ion-icon name="pizza-outline" slot="start"></ion-icon>
                        <ion-label class="ion-text-wrap">Compra mais recente em IFood no valor de R$ 32,20</ion-label>
                    </ion-item>
                </div>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-item class="ion-margin-vertical" lines="none">
                <ion-icon slot="start" name="card-outline"></ion-icon>
                <ion-label>Conta</ion-label>
                <ion-button color="dark" fill="clear" slot="end">
                    <ion-icon slot="icon-only" name="eye-off-outline"></ion-icon>
                </ion-button>
            </ion-item>

            <ion-card-content class="ion-no-padding">
                <div class="cash ion-padding ion-margin-vertical cash">
                    <span class="blue">Saldo disponível</span>
                    <ion-text>
                        <span class="value">R$ 5322,90</span>
                    </ion-text>
                </div>
                
                <div class="footer ion-padding-vertical">
                    <ion-item color="light" detail lines="none">
                        <ion-icon name="barcode-outline" slot="start"></ion-icon>
                        <ion-label class="ion-text-wrap">Boleto de R$ 56,21 pago na Segunda</ion-label>
                    </ion-item>
                </div>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content class="ion-text-center" lines="none">
                <ion-icon class="gift" name="gift-outline"></ion-icon>
                
                <div class="ion-margin-vertical">
                    <ion-text color="dark">
                        <p class="title"><strong>Nubank Rewards</strong></p>
                        <p>Acumule pontos que nunca expiram e troque por passagens aéreas ou serviços que você realmente usa.</p>
                    </ion-text>
                </div>
                <ion-button expand="block" fill="outline">
                    <strong>ATIVE O SEU REWARDS</strong>
                </ion-button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

<ion-footer [ngClass]="fixedBlocks() ? 'hidden' : null" class="ion-no-border">
    <ion-toolbar class="ion-no-margin ion-padding-vertical" color="primary">
        <ion-slides class="opacity-transition" [options]="slidesOptions">
            <ion-slide *ngFor="let option of options">
                <div class="container ion-text-left">
                    <ion-icon [name]="option.icon"></ion-icon>
                    <span>{{ option.text }}</span>
                </div>
            </ion-slide>
        </ion-slides>
    </ion-toolbar>
</ion-footer>